
h1{
  position:absolute;
  left: 60px;
  top: 0px;
  font-size: 24px;
  font-family: helvetica;
  font-style: oblique;
  text-decoration: underline;
  background: rgba(242,242,242, .7);
}
h3 {
  position: absolute;
  left:  0px;

}
.titleBar{
  position:absolute;
  top: 0px;
  left: 50px;
  right: 0px;
  height: 10px;
}

.sideBar{
  position: absolute;
  top: 150px;
  bottom: 50px;
  left: 30px;
  height: 300px;
  width:450px;
  z-index: 100;
  text-align: left;
}
.sideBar.sideBarTitle{
  position: absolute;
  left:0px;
  top: 150px;
  font-family: helvetica,arial;

}
.sideBar h3{
  position: absolute;
  top: 50px;
  font-family: helvetica,arial;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.sideBar p{
  position:absolute;
  top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  left: 0px;
  width: 425px;
  font-family: helvetica,arial;
background: rgba(242,242,242, .6);
}
#page2sideBar{
  position:absolute;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
#goals{
  position: absolute;
  left: 300;
  bottom: 60;
  opacity: 1;
  padding: 50;
  width: 250px;
  font-size: 14px;
  font-family: helvetica,arial;
  border: 0.5px solid;
}

#my-button{
  position:absolute;
  left: 600;
  bottom: 30;
  color: #f442a7;
  font-opacity: 1;
  background-opacity: 0;
  font-size:20px;
  width: 380px;
  padding: 50;
  font-family: helvetica, arial;
  border: 1px solid #f442a7;
}
#previous{
  position:absolute;
  top: 550px;
  left: 200px;
  color: white;
  background-color: #f442a7;
}
#next{
  position:absolute;
  top: 550px;
  left: 300px;
  color: white;
  background-color: #f442a7;
}
p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1 ;
}
